services:
  postgres:
    image: pgvector/pgvector:pg18-trixie
    container_name: orbisdb
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orbisdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  embeddings:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-latest
    container_name: embeddings
    command: --model-id sentence-transformers/all-MiniLM-L6-v2
    ports:
      - "7860:80"
    restart: unless-stopped

volumes:
  postgres_data: