version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:pg18-trixie
    container_name: orbisdb
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orbisdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data:
